[Desktop Entry]
Name=HTYVS
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYVS/HTYVS
Icon=/media/sonichy/job/HY/Linux/Qt/HTYVS/icon.jpg
Path=/media/sonichy/job/HY/Linux/Qt/HTYVS
Terminal=false
Type=Application
MimeType=
Categories=